fastapi
uvicorn[standard]
pydantic
python-multipart
requests
rich
edge-tts
psutil
pyttsx3
SpeechRecognition
pypdf
python-docx
chromadb
sentence-transformers
beautifulsoup4
lxml
Pillow
opencv-python
numpy
wikipedia
ddgs

python-dotenv>=1.0.0
